@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*-------------------------Wildcard selector to override default styling*/

* {
    padding: 0;
    margin: 0;
}


/*-------------------------Colours */

.background-nav {
    background-color: #DB7F67;    
}

.background-main    {
    background-color: #faf0f0;
}

.background-footer {
    background-color: #8E5344;
}

.footer-text, .footer-text a{
    color: #efeee6;
    font-size: 14px;
}

/*--------------------------Nav font colour override*/

header {
    z-index: 1;
    position: fixed;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: #efeee6;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
 
.navbar-light .navbar-brand {
    color: #efeee6;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}

h1  {
    font-size: 24px;
}

/*----------------------------Body*/

main   {
    min-height: 100vh;
    padding-top: 91.59px;
}

/*-----------------------------Homepage*/


#hero   {
    height: 280px;
    width: 100%;
    background: url(../images/hero-ci-main.webp) no-repeat center/cover;
    position: relative;
}

.home-title {
    font-size: 28px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #2e3a3b;
    margin-top: 30px;
    margin-bottom: 60px;
}

.home-content-text  {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #2e3a3b;
    margin-top: 30px;
    margin-bottom: 60px;
}

/*------------This overrides Bootstrap row margins, which produce a right-side buffer*/

.home-row-margin  {
    margin-right: 0px;
}

/*---------------------------Footer*/

footer  {
    min-height: 10vh;
    margin: 0;
    min-width: 100%;
}

.footer-details {
    padding: 20px;
    min-width: 100%;
}
