@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*-------------------------Wildcard selector to override default styling*/

* {
    padding: 0;
    margin: 0;
}


/*-------------------------Colours */

.background-nav {
    background-color: #DB7F67;
}

.background-main {
    background-color: #faf0f0;
}

.background-footer {
    background-color: #8E5344;
}

.footer-text,
.footer-text a {
    color: #efeee6;
    font-size: 14px;
}

.hover-link:hover   {
    color: #DB7F67;
    text-decoration: none;
} 

.hover-link   {
    color: #8E5344;
    text-decoration: none;
} 

/*--------------------------Nav font colour override*/

header {
    z-index: 1;
    position: fixed;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: #efeee6;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.navbar-light .navbar-brand {
    color: #efeee6;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover   {
    color: #8E5344;
}

.navbar-light:hover .navbar-brand:hover {
    color: #8E5344;

}

.navbar-light .navbar-toggler {
    color: #efeee6;
    border-color:  #efeee6;
    border-width: 2px;
}

.navbar-light:hover .navbar-toggler:hover {
    color: #8E5344;
    border-color:  #8E5344;
    border-width: 2px;
}

h1 {
    font-size: 24px;
    font-family: Rubik, sans-serif;
}

/*----------------------------Body*/

main {
    min-height: 100vh;
    padding-top: 91.59px;
    background-color: #faf0f0;
    font-family: Montserrat, sans-serif;
    color: #2E3A3B;
}

main a {
    color: #8E5344;

}

/*-----------------------------Homepage*/


#hero {
    height: 400px;
    width: 100%;
    background: url(../images/hero-ci-main-2.webp) no-repeat center/cover;
    position: relative;
}

.home-title {
    font-size: 28px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #2e3a3b;
    padding-top: 30px;
    padding-bottom: 40px;
}

.home-content-text {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #2e3a3b;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*------------This overrides Bootstrap row margins and padding, which produce a right-side buffer*/

.home-row-margin {
    margin-right: 0px;
    margin-left: 0px;
}

.home-padding   {
    padding-left: 0px;
    padding-right: 0px;
}

.hero-container-override    {
    min-width: 100%;
}

/*---------------------------Media Query to change text size on desktop devices*/

@media screen and (min-width:768px)    {
    .home-title {
        font-size: 48px;
    }

    .home-content-text  {
        font-size: 24px;
    }
}   

/*---------------------------Success Stories*/

.success-main-heading   {
    padding-top: 40px;
    padding-bottom: 30px;
}

#success-img-1  {
    max-height: 300px;
    min-height: 300px;
    background: url(../images/success-stories-img-1.webp) no-repeat center center/cover;
    border-radius: 50%;
    padding-top: 90px;
}

#success-img-2  {
    max-height: 300px;
    min-height: 300px;
    background: url(../images/success-stories-img-2.webp) no-repeat center center/cover;
    border-radius: 50%;
    padding-top: 90px;
}

#success-img-3  {
    max-height: 300px;
    min-height: 300px;
    background: url(../images/success-stories-img-3.webp) no-repeat center center/cover;
    border-radius: 50%;
    padding-top: 90px;
}

.success-heading-text   {
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.success-profiles-padding   {
    padding-bottom: 30px;
}


/*---------------------------Take Action*/


.container-fluid {
    min-width: 590px;
}

.actions-section {
    max-width: 800px;
    padding-top: 25px;
}

.actions-list {
    padding-left: 40px;
}

.actions-section .alert-warning {
    background-color: #DB7F67;
    color: #2E3A3B;
}

/*---------------------------Resources*/

.container-fluid {
    min-width: 590px;
}

.resources-section {
    max-width: 800px;
    padding-top: 25px;
}

p i {
    font-size: 200%;
}

p a:hover {
    color: #DB7F67;
}

.resources-title {
    text-align: center;
    padding: 20px auto;
}

.resources-content {
    padding-top: 45px;
}

#resources-hero {
    height: 400px;
    width: 100%;
    background: url(../images/resources-group-pic-banner.webp) no-repeat center/cover;
    position: relative;
}

/*---------------------------Contact*/

.contact-title {
    text-align: center;
    padding: 20px auto;
}

.contact-form {
    padding-top: 45px;
    width: 80%;
}

.diversity-form {
    text-align: center;
    font-weight: 500;
}

.diversity-form .submit-story {
background-color: #DB7F67;
color: #efeee6;
font-family: Rubik, sans-serif;
text-transform: uppercase;
padding-right: 10px;
padding-left: 10px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 20px;
margin-bottom: 25px;
}
.diversity-form input,
.diversity-form textarea {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}


.diversity-form input {
    max-width: 320px;
}

.diversity-form textarea {
    max-width: 640px;
    height: 300px;
}

.contact-section {
    max-width: 800px;
    padding-top: 25px;

}
/*---------------------------Footer*/

footer {
    min-height: 10vh;
    margin: 0;
    min-width: 100%;
}

.footer-details {
    padding: 20px;
    min-width: 100%;
}

.footer-link:hover     {
    text-decoration:none;
    color: #DB7F67;
}

.footer, .col-6 {
    padding-left: 0;
    padding-right: 0; 
}

.footer, .col-4  {
    padding-left: 0;
    padding-right: 0;
}

.footer > a, p  {
    font-size: 12px;
}

.footer > .copyright  {
    font-size: 12px;
}