@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*-------------------------Colours */

.background-nav {
    background-color: #DB7F67;
    
}

.background-footer {
    background-color: #8E5344;
}

.footer-text, .footer-text a{
    color: #efeee6;
}

/*--------------------------Nav font colour override*/

.navbar-light .navbar-nav .nav-link {
    color: #efeee6;
}

.navbar-light .navbar-brand {
    color: #efeee6;
}
